<h1>Topics</h1>
<h2>Welcome to the about page</h2>

<br>
<br>
<tbody>
  <tr>
<!--    <%= link_to "Back to Topics", topics_path %> -->
<%= button_to 'Back to Topics', topics_path, method: :get %>
  </tr>
</tbody>
